<li id="micropost-<%= micropost.id %>"></li>
<%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
<span class="user"><%= link_to micropost.user_name, micropost.user %></span>
<span class="content">
  <%= micropost.content %>
  <% if micropost.image.attached? %>
    <%= image_tag micropost.display_image %>
  <% end %>
</span>
<span class="timestamp">
  <%= t ".posted" %>
  <%= time_ago_in_words(micropost.created_at) %>
  <%= t ".ago" %>.
  <% if current_user?(micropost.user) %>
    <%= link_to t(".delete"), micropost,
      data: {"turbo-method": :delete, "turbo-confirm": t(".confirm_delete")}
    %>
  <% end %>
</span>
